work/
iso/
planamo-root/
*.iso
*.squashfs
work/
docker-images/
docker-logs/
*.iso
squashfs-root/
work/
docker-images/
docker-logs/
*.iso
squashfs-root/
work/
docker-images/
docker-logs/
*.iso
squashfs-root/
logs/
wget-log*
